<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yundongjia.oa.admin.mapper.TActivityMapper" >
  <resultMap id="BaseResultMap" type="com.yundongjia.oa.admin.po.TActivity" >
    <id column="activeId" property="activeid" jdbcType="INTEGER" />
    <result column="activeName" property="activename" jdbcType="VARCHAR" />
    <result column="activeType" property="activetype" jdbcType="INTEGER" />
    <result column="regionsId" property="regionsid" jdbcType="INTEGER" />
    <result column="activeAddres" property="activeaddres" jdbcType="VARCHAR" />
    <result column="activeStartTime" property="activestarttime" jdbcType="VARCHAR" />
    <result column="activeEndTime" property="activeendtime" jdbcType="VARCHAR" />
    <result column="activeNum" property="activenum" jdbcType="INTEGER" />
    <result column="activeKeyword" property="activekeyword" jdbcType="VARCHAR" />
    <result column="activeIntroduce" property="activeintroduce" jdbcType="VARCHAR" />
    <result column="activeComm" property="activecomm" jdbcType="VARCHAR" />
    <result column="lng" property="lng" jdbcType="VARCHAR" />
    <result column="alreadyMan" property="alreadyman" jdbcType="INTEGER" />
    <result column="lat" property="lat" jdbcType="VARCHAR" />
    <result column="studioId" property="studioid" jdbcType="INTEGER" />
    <result column="studioCost" property="studiocost" jdbcType="DOUBLE" />
    <result column="coachIds" property="coachids" jdbcType="VARCHAR" />
    <result column="coachCosts" property="coachcosts" jdbcType="VARCHAR" />
    <result column="activePrice" property="activeprice" jdbcType="DOUBLE" />
    <result column="activeSubNum" property="activesubnum" jdbcType="INTEGER" />
    <result column="activityLimit" property="activitylimit" jdbcType="INTEGER" />
    <result column="opeartionAdminId" property="opeartionadminid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    activeId, activeName, activeType, regionsId, activeAddres, activeStartTime, activeEndTime, 
    activeNum, activeKeyword, activeIntroduce, activeComm, lng, alreadyMan, lat, studioId, 
    studioCost, coachIds, coachCosts, activePrice, activeSubNum, activityLimit, opeartionAdminId, 
    status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yundongjia.oa.admin.po.TActivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_activity
    where activeId = #{activeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_activity
    where activeId = #{activeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yundongjia.oa.admin.po.TActivityExample" >
    delete from t_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yundongjia.oa.admin.po.TActivity" >
    <selectKey resultType="java.lang.Integer" keyProperty="activeid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_activity (activeName, activeType, regionsId, 
      activeAddres, activeStartTime, activeEndTime, 
      activeNum, activeKeyword, activeIntroduce, 
      activeComm, lng, alreadyMan, 
      lat, studioId, studioCost, 
      coachIds, coachCosts, activePrice, 
      activeSubNum, activityLimit, opeartionAdminId, 
      status)
    values (#{activename,jdbcType=VARCHAR}, #{activetype,jdbcType=INTEGER}, #{regionsid,jdbcType=INTEGER}, 
      #{activeaddres,jdbcType=VARCHAR}, #{activestarttime,jdbcType=VARCHAR}, #{activeendtime,jdbcType=VARCHAR}, 
      #{activenum,jdbcType=INTEGER}, #{activekeyword,jdbcType=VARCHAR}, #{activeintroduce,jdbcType=VARCHAR}, 
      #{activecomm,jdbcType=VARCHAR}, #{lng,jdbcType=VARCHAR}, #{alreadyman,jdbcType=INTEGER}, 
      #{lat,jdbcType=VARCHAR}, #{studioid,jdbcType=INTEGER}, #{studiocost,jdbcType=DOUBLE}, 
      #{coachids,jdbcType=VARCHAR}, #{coachcosts,jdbcType=VARCHAR}, #{activeprice,jdbcType=DOUBLE}, 
      #{activesubnum,jdbcType=INTEGER}, #{activitylimit,jdbcType=INTEGER}, #{opeartionadminid,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yundongjia.oa.admin.po.TActivity" >
    <selectKey resultType="java.lang.Integer" keyProperty="activeid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activename != null" >
        activeName,
      </if>
      <if test="activetype != null" >
        activeType,
      </if>
      <if test="regionsid != null" >
        regionsId,
      </if>
      <if test="activeaddres != null" >
        activeAddres,
      </if>
      <if test="activestarttime != null" >
        activeStartTime,
      </if>
      <if test="activeendtime != null" >
        activeEndTime,
      </if>
      <if test="activenum != null" >
        activeNum,
      </if>
      <if test="activekeyword != null" >
        activeKeyword,
      </if>
      <if test="activeintroduce != null" >
        activeIntroduce,
      </if>
      <if test="activecomm != null" >
        activeComm,
      </if>
      <if test="lng != null" >
        lng,
      </if>
      <if test="alreadyman != null" >
        alreadyMan,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="studioid != null" >
        studioId,
      </if>
      <if test="studiocost != null" >
        studioCost,
      </if>
      <if test="coachids != null" >
        coachIds,
      </if>
      <if test="coachcosts != null" >
        coachCosts,
      </if>
      <if test="activeprice != null" >
        activePrice,
      </if>
      <if test="activesubnum != null" >
        activeSubNum,
      </if>
      <if test="activitylimit != null" >
        activityLimit,
      </if>
      <if test="opeartionadminid != null" >
        opeartionAdminId,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activename != null" >
        #{activename,jdbcType=VARCHAR},
      </if>
      <if test="activetype != null" >
        #{activetype,jdbcType=INTEGER},
      </if>
      <if test="regionsid != null" >
        #{regionsid,jdbcType=INTEGER},
      </if>
      <if test="activeaddres != null" >
        #{activeaddres,jdbcType=VARCHAR},
      </if>
      <if test="activestarttime != null" >
        #{activestarttime,jdbcType=VARCHAR},
      </if>
      <if test="activeendtime != null" >
        #{activeendtime,jdbcType=VARCHAR},
      </if>
      <if test="activenum != null" >
        #{activenum,jdbcType=INTEGER},
      </if>
      <if test="activekeyword != null" >
        #{activekeyword,jdbcType=VARCHAR},
      </if>
      <if test="activeintroduce != null" >
        #{activeintroduce,jdbcType=VARCHAR},
      </if>
      <if test="activecomm != null" >
        #{activecomm,jdbcType=VARCHAR},
      </if>
      <if test="lng != null" >
        #{lng,jdbcType=VARCHAR},
      </if>
      <if test="alreadyman != null" >
        #{alreadyman,jdbcType=INTEGER},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=VARCHAR},
      </if>
      <if test="studioid != null" >
        #{studioid,jdbcType=INTEGER},
      </if>
      <if test="studiocost != null" >
        #{studiocost,jdbcType=DOUBLE},
      </if>
      <if test="coachids != null" >
        #{coachids,jdbcType=VARCHAR},
      </if>
      <if test="coachcosts != null" >
        #{coachcosts,jdbcType=VARCHAR},
      </if>
      <if test="activeprice != null" >
        #{activeprice,jdbcType=DOUBLE},
      </if>
      <if test="activesubnum != null" >
        #{activesubnum,jdbcType=INTEGER},
      </if>
      <if test="activitylimit != null" >
        #{activitylimit,jdbcType=INTEGER},
      </if>
      <if test="opeartionadminid != null" >
        #{opeartionadminid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yundongjia.oa.admin.po.TActivityExample" resultType="java.lang.Integer" >
    select count(*) from t_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_activity
    <set >
      <if test="record.activeid != null" >
        activeId = #{record.activeid,jdbcType=INTEGER},
      </if>
      <if test="record.activename != null" >
        activeName = #{record.activename,jdbcType=VARCHAR},
      </if>
      <if test="record.activetype != null" >
        activeType = #{record.activetype,jdbcType=INTEGER},
      </if>
      <if test="record.regionsid != null" >
        regionsId = #{record.regionsid,jdbcType=INTEGER},
      </if>
      <if test="record.activeaddres != null" >
        activeAddres = #{record.activeaddres,jdbcType=VARCHAR},
      </if>
      <if test="record.activestarttime != null" >
        activeStartTime = #{record.activestarttime,jdbcType=VARCHAR},
      </if>
      <if test="record.activeendtime != null" >
        activeEndTime = #{record.activeendtime,jdbcType=VARCHAR},
      </if>
      <if test="record.activenum != null" >
        activeNum = #{record.activenum,jdbcType=INTEGER},
      </if>
      <if test="record.activekeyword != null" >
        activeKeyword = #{record.activekeyword,jdbcType=VARCHAR},
      </if>
      <if test="record.activeintroduce != null" >
        activeIntroduce = #{record.activeintroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.activecomm != null" >
        activeComm = #{record.activecomm,jdbcType=VARCHAR},
      </if>
      <if test="record.lng != null" >
        lng = #{record.lng,jdbcType=VARCHAR},
      </if>
      <if test="record.alreadyman != null" >
        alreadyMan = #{record.alreadyman,jdbcType=INTEGER},
      </if>
      <if test="record.lat != null" >
        lat = #{record.lat,jdbcType=VARCHAR},
      </if>
      <if test="record.studioid != null" >
        studioId = #{record.studioid,jdbcType=INTEGER},
      </if>
      <if test="record.studiocost != null" >
        studioCost = #{record.studiocost,jdbcType=DOUBLE},
      </if>
      <if test="record.coachids != null" >
        coachIds = #{record.coachids,jdbcType=VARCHAR},
      </if>
      <if test="record.coachcosts != null" >
        coachCosts = #{record.coachcosts,jdbcType=VARCHAR},
      </if>
      <if test="record.activeprice != null" >
        activePrice = #{record.activeprice,jdbcType=DOUBLE},
      </if>
      <if test="record.activesubnum != null" >
        activeSubNum = #{record.activesubnum,jdbcType=INTEGER},
      </if>
      <if test="record.activitylimit != null" >
        activityLimit = #{record.activitylimit,jdbcType=INTEGER},
      </if>
      <if test="record.opeartionadminid != null" >
        opeartionAdminId = #{record.opeartionadminid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_activity
    set activeId = #{record.activeid,jdbcType=INTEGER},
      activeName = #{record.activename,jdbcType=VARCHAR},
      activeType = #{record.activetype,jdbcType=INTEGER},
      regionsId = #{record.regionsid,jdbcType=INTEGER},
      activeAddres = #{record.activeaddres,jdbcType=VARCHAR},
      activeStartTime = #{record.activestarttime,jdbcType=VARCHAR},
      activeEndTime = #{record.activeendtime,jdbcType=VARCHAR},
      activeNum = #{record.activenum,jdbcType=INTEGER},
      activeKeyword = #{record.activekeyword,jdbcType=VARCHAR},
      activeIntroduce = #{record.activeintroduce,jdbcType=VARCHAR},
      activeComm = #{record.activecomm,jdbcType=VARCHAR},
      lng = #{record.lng,jdbcType=VARCHAR},
      alreadyMan = #{record.alreadyman,jdbcType=INTEGER},
      lat = #{record.lat,jdbcType=VARCHAR},
      studioId = #{record.studioid,jdbcType=INTEGER},
      studioCost = #{record.studiocost,jdbcType=DOUBLE},
      coachIds = #{record.coachids,jdbcType=VARCHAR},
      coachCosts = #{record.coachcosts,jdbcType=VARCHAR},
      activePrice = #{record.activeprice,jdbcType=DOUBLE},
      activeSubNum = #{record.activesubnum,jdbcType=INTEGER},
      activityLimit = #{record.activitylimit,jdbcType=INTEGER},
      opeartionAdminId = #{record.opeartionadminid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yundongjia.oa.admin.po.TActivity" >
    update t_activity
    <set >
      <if test="activename != null" >
        activeName = #{activename,jdbcType=VARCHAR},
      </if>
      <if test="activetype != null" >
        activeType = #{activetype,jdbcType=INTEGER},
      </if>
      <if test="regionsid != null" >
        regionsId = #{regionsid,jdbcType=INTEGER},
      </if>
      <if test="activeaddres != null" >
        activeAddres = #{activeaddres,jdbcType=VARCHAR},
      </if>
      <if test="activestarttime != null" >
        activeStartTime = #{activestarttime,jdbcType=VARCHAR},
      </if>
      <if test="activeendtime != null" >
        activeEndTime = #{activeendtime,jdbcType=VARCHAR},
      </if>
      <if test="activenum != null" >
        activeNum = #{activenum,jdbcType=INTEGER},
      </if>
      <if test="activekeyword != null" >
        activeKeyword = #{activekeyword,jdbcType=VARCHAR},
      </if>
      <if test="activeintroduce != null" >
        activeIntroduce = #{activeintroduce,jdbcType=VARCHAR},
      </if>
      <if test="activecomm != null" >
        activeComm = #{activecomm,jdbcType=VARCHAR},
      </if>
      <if test="lng != null" >
        lng = #{lng,jdbcType=VARCHAR},
      </if>
      <if test="alreadyman != null" >
        alreadyMan = #{alreadyman,jdbcType=INTEGER},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=VARCHAR},
      </if>
      <if test="studioid != null" >
        studioId = #{studioid,jdbcType=INTEGER},
      </if>
      <if test="studiocost != null" >
        studioCost = #{studiocost,jdbcType=DOUBLE},
      </if>
      <if test="coachids != null" >
        coachIds = #{coachids,jdbcType=VARCHAR},
      </if>
      <if test="coachcosts != null" >
        coachCosts = #{coachcosts,jdbcType=VARCHAR},
      </if>
      <if test="activeprice != null" >
        activePrice = #{activeprice,jdbcType=DOUBLE},
      </if>
      <if test="activesubnum != null" >
        activeSubNum = #{activesubnum,jdbcType=INTEGER},
      </if>
      <if test="activitylimit != null" >
        activityLimit = #{activitylimit,jdbcType=INTEGER},
      </if>
      <if test="opeartionadminid != null" >
        opeartionAdminId = #{opeartionadminid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where activeId = #{activeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yundongjia.oa.admin.po.TActivity" >
    update t_activity
    set activeName = #{activename,jdbcType=VARCHAR},
      activeType = #{activetype,jdbcType=INTEGER},
      regionsId = #{regionsid,jdbcType=INTEGER},
      activeAddres = #{activeaddres,jdbcType=VARCHAR},
      activeStartTime = #{activestarttime,jdbcType=VARCHAR},
      activeEndTime = #{activeendtime,jdbcType=VARCHAR},
      activeNum = #{activenum,jdbcType=INTEGER},
      activeKeyword = #{activekeyword,jdbcType=VARCHAR},
      activeIntroduce = #{activeintroduce,jdbcType=VARCHAR},
      activeComm = #{activecomm,jdbcType=VARCHAR},
      lng = #{lng,jdbcType=VARCHAR},
      alreadyMan = #{alreadyman,jdbcType=INTEGER},
      lat = #{lat,jdbcType=VARCHAR},
      studioId = #{studioid,jdbcType=INTEGER},
      studioCost = #{studiocost,jdbcType=DOUBLE},
      coachIds = #{coachids,jdbcType=VARCHAR},
      coachCosts = #{coachcosts,jdbcType=VARCHAR},
      activePrice = #{activeprice,jdbcType=DOUBLE},
      activeSubNum = #{activesubnum,jdbcType=INTEGER},
      activityLimit = #{activitylimit,jdbcType=INTEGER},
      opeartionAdminId = #{opeartionadminid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where activeId = #{activeid,jdbcType=INTEGER}
  </update>
  
  
   <!-- 手写 sql -->
  
  
  <!--hj 全查或条件 -->
  <select id="findActivityList" parameterType="com.yundongjia.oa.admin.po.TActivity" resultType="java.util.Map">
  	 select t_activity.*,t_coach.nickName,t_studio.studioName from 
t_activity 
inner join t_coach
inner join t_studio
on t_activity.coachIds = t_coach.coachId
and t_studio.studioId = t_activity.studioId




order by t_activity.activeStartTime desc
  </select>
  
  <!-- hj 根据id查询 -->
  <select id="getActivityById" parameterType="java.lang.Integer" resultType="java.util.Map">
    select t_activity.*,t_coach.nickName,t_studio.studioName from 
t_activity 
inner join t_coach
inner join t_studio
on t_activity.coachIds = t_coach.coachId
and t_studio.studioId = t_activity.studioId
where t_activity.activeId = #{param}
  </select>
  
  <!-- 多条件查询   and t_activity.activeName like CONCAT('%','#{activename}','%' )-->
  <select id="selectByActivity" parameterType="com.yundongjia.oa.admin.po.TActivity" resultType="java.util.Map">
    select t_activity.*,t_coach.nickName,t_studio.studioName from 
t_activity 
inner join t_coach
inner join t_studio
on t_activity.coachIds = t_coach.coachId
and t_studio.studioId = t_activity.studioId

<if test="activename != null and activename !='' ">
	and t_activity.activeName like CONCAT('%',#{activename},'%' )
</if>
<if test="studioid != -1">
	and t_activity.studioId = #{studioid} 
</if>
<if test="coachids != -1">
	and t_activity.coachIds = #{coachids}
</if>
<if test="activestarttime !=null and activestarttime != '' ">
	and t_activity.activeStartTime &gt;= #{activestarttime}
</if>
<if test="activeendtime != null and activeendtime != '' ">
	and t_activity.activeEndTime &lt;= #{activeendtime}
</if>
<if test="regionsid != -1">
	and t_activity.regionsId = #{regionsid}
</if>
<if test="status != -1">
	and t_activity.`status` = #{status}
</if>

order by t_activity.activeStartTime desc
  
  </select>
  
  <!-- 修改活动状态 -->
 <update id="updateActivityStatusById" parameterType="java.util.Map">
   update t_activity set t_activity.`status` = #{status} where t_activity.activeId = #{activityId}
 </update>
 
 <!-- 根据状态统计活动数 -->
 <select id="selectActivityStatisByStatus" parameterType="java.lang.Integer" resultType="java.lang.Integer">
   select count(1) from t_activity where t_activity.`status` = #{status}
 </select>
 
 <!-- 统计今日活动数量 -->
 <select id="selectTodayActivityStatis" resultType="java.lang.Integer">
    select count(1) from t_activity where date_format(t_activity.activeStartTime,'%Y-%m-%d') = date_format(now(),'%Y-%m-%d') and (t_activity.`status` = 0 or t_activity.`status` = 3)
 </select>
  <!-- 根据日期查询活动-->
 <select id="findListByDate" resultType="java.util.Map"  parameterType="java.lang.String">
 	select alreadyMan,activeNum,activeStartTime,activeEndTime,activeAddres,activeName,activeId,activePrice,activeSubNum
 	from t_activity 	where DATE_FORMAT(activeStartTime, '%Y-%m-%d') = #{date} and status = 0
 </select>

  
</mapper>