<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yundongjia.oa.admin.mapper.TGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.yundongjia.oa.admin.po.TGoods" >
    <id column="goodsId" property="goodsid" jdbcType="INTEGER" />
    <result column="gName" property="gname" jdbcType="VARCHAR" />
    <result column="special" property="special" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="imgInfo" property="imginfo" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="gPrice" property="gprice" jdbcType="DOUBLE" />
    <result column="stat" property="stat" jdbcType="INTEGER" />
    <result column="gCount" property="gcount" jdbcType="INTEGER" />
    <result column="maxRed" property="maxred" jdbcType="DOUBLE" />
    <result column="createDate" property="createdate" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="des" property="des" jdbcType="VARCHAR" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="imgId" property="imgid" jdbcType="INTEGER" />
    <result column="freight" property="freight" jdbcType="DOUBLE" />
    <result column="goodsLimit" property="goodslimit" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    goodsId, gName, special, img, imgInfo, path, keywords, gPrice, stat, gCount, maxRed, 
    createDate, number, des, msg, imgId, freight, goodsLimit, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yundongjia.oa.admin.po.TGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_goods
    where goodsId = #{goodsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_goods
    where goodsId = #{goodsid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yundongjia.oa.admin.po.TGoodsExample" >
    delete from t_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yundongjia.oa.admin.po.TGoods" >
    <selectKey resultType="java.lang.Integer" keyProperty="goodsid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_goods (gName, special, img, 
      imgInfo, path, keywords, 
      gPrice, stat, gCount, 
      maxRed, createDate, number, 
      des, msg, imgId, freight, 
      goodsLimit, status)
    values (#{gname,jdbcType=VARCHAR}, #{special,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, 
      #{imginfo,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, 
      #{gprice,jdbcType=DOUBLE}, #{stat,jdbcType=INTEGER}, #{gcount,jdbcType=INTEGER}, 
      #{maxred,jdbcType=DOUBLE}, #{createdate,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, 
      #{des,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, #{imgid,jdbcType=INTEGER}, #{freight,jdbcType=DOUBLE}, 
      #{goodslimit,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yundongjia.oa.admin.po.TGoods" >
    <selectKey resultType="java.lang.Integer" keyProperty="goodsid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gname != null" >
        gName,
      </if>
      <if test="special != null" >
        special,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="imginfo != null" >
        imgInfo,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="gprice != null" >
        gPrice,
      </if>
      <if test="stat != null" >
        stat,
      </if>
      <if test="gcount != null" >
        gCount,
      </if>
      <if test="maxred != null" >
        maxRed,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="des != null" >
        des,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="imgid != null" >
        imgId,
      </if>
      <if test="freight != null" >
        freight,
      </if>
      <if test="goodslimit != null" >
        goodsLimit,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gname != null" >
        #{gname,jdbcType=VARCHAR},
      </if>
      <if test="special != null" >
        #{special,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="imginfo != null" >
        #{imginfo,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="gprice != null" >
        #{gprice,jdbcType=DOUBLE},
      </if>
      <if test="stat != null" >
        #{stat,jdbcType=INTEGER},
      </if>
      <if test="gcount != null" >
        #{gcount,jdbcType=INTEGER},
      </if>
      <if test="maxred != null" >
        #{maxred,jdbcType=DOUBLE},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="des != null" >
        #{des,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="imgid != null" >
        #{imgid,jdbcType=INTEGER},
      </if>
      <if test="freight != null" >
        #{freight,jdbcType=DOUBLE},
      </if>
      <if test="goodslimit != null" >
        #{goodslimit,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yundongjia.oa.admin.po.TGoodsExample" resultType="java.lang.Integer" >
    select count(*) from t_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_goods
    <set >
      <if test="record.goodsid != null" >
        goodsId = #{record.goodsid,jdbcType=INTEGER},
      </if>
      <if test="record.gname != null" >
        gName = #{record.gname,jdbcType=VARCHAR},
      </if>
      <if test="record.special != null" >
        special = #{record.special,jdbcType=VARCHAR},
      </if>
      <if test="record.img != null" >
        img = #{record.img,jdbcType=VARCHAR},
      </if>
      <if test="record.imginfo != null" >
        imgInfo = #{record.imginfo,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null" >
        path = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.keywords != null" >
        keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.gprice != null" >
        gPrice = #{record.gprice,jdbcType=DOUBLE},
      </if>
      <if test="record.stat != null" >
        stat = #{record.stat,jdbcType=INTEGER},
      </if>
      <if test="record.gcount != null" >
        gCount = #{record.gcount,jdbcType=INTEGER},
      </if>
      <if test="record.maxred != null" >
        maxRed = #{record.maxred,jdbcType=DOUBLE},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.des != null" >
        des = #{record.des,jdbcType=VARCHAR},
      </if>
      <if test="record.msg != null" >
        msg = #{record.msg,jdbcType=VARCHAR},
      </if>
      <if test="record.imgid != null" >
        imgId = #{record.imgid,jdbcType=INTEGER},
      </if>
      <if test="record.freight != null" >
        freight = #{record.freight,jdbcType=DOUBLE},
      </if>
      <if test="record.goodslimit != null" >
        goodsLimit = #{record.goodslimit,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_goods
    set goodsId = #{record.goodsid,jdbcType=INTEGER},
      gName = #{record.gname,jdbcType=VARCHAR},
      special = #{record.special,jdbcType=VARCHAR},
      img = #{record.img,jdbcType=VARCHAR},
      imgInfo = #{record.imginfo,jdbcType=VARCHAR},
      path = #{record.path,jdbcType=VARCHAR},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      gPrice = #{record.gprice,jdbcType=DOUBLE},
      stat = #{record.stat,jdbcType=INTEGER},
      gCount = #{record.gcount,jdbcType=INTEGER},
      maxRed = #{record.maxred,jdbcType=DOUBLE},
      createDate = #{record.createdate,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=INTEGER},
      des = #{record.des,jdbcType=VARCHAR},
      msg = #{record.msg,jdbcType=VARCHAR},
      imgId = #{record.imgid,jdbcType=INTEGER},
      freight = #{record.freight,jdbcType=DOUBLE},
      goodsLimit = #{record.goodslimit,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yundongjia.oa.admin.po.TGoods" >
    update t_goods
    <set >
      <if test="gname != null" >
        gName = #{gname,jdbcType=VARCHAR},
      </if>
      <if test="special != null" >
        special = #{special,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="imginfo != null" >
        imgInfo = #{imginfo,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="gprice != null" >
        gPrice = #{gprice,jdbcType=DOUBLE},
      </if>
      <if test="stat != null" >
        stat = #{stat,jdbcType=INTEGER},
      </if>
      <if test="gcount != null" >
        gCount = #{gcount,jdbcType=INTEGER},
      </if>
      <if test="maxred != null" >
        maxRed = #{maxred,jdbcType=DOUBLE},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="des != null" >
        des = #{des,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="imgid != null" >
        imgId = #{imgid,jdbcType=INTEGER},
      </if>
      <if test="freight != null" >
        freight = #{freight,jdbcType=DOUBLE},
      </if>
      <if test="goodslimit != null" >
        goodsLimit = #{goodslimit,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where goodsId = #{goodsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yundongjia.oa.admin.po.TGoods" >
    update t_goods
    set gName = #{gname,jdbcType=VARCHAR},
      special = #{special,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      imgInfo = #{imginfo,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      gPrice = #{gprice,jdbcType=DOUBLE},
      stat = #{stat,jdbcType=INTEGER},
      gCount = #{gcount,jdbcType=INTEGER},
      maxRed = #{maxred,jdbcType=DOUBLE},
      createDate = #{createdate,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      des = #{des,jdbcType=VARCHAR},
      msg = #{msg,jdbcType=VARCHAR},
      imgId = #{imgid,jdbcType=INTEGER},
      freight = #{freight,jdbcType=DOUBLE},
      goodsLimit = #{goodslimit,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where goodsId = #{goodsid,jdbcType=INTEGER}
  </update>
  
  <!--hj  商品全查或条件查询  -->
  <select id="findGoodsList" parameterType="com.yundongjia.oa.admin.po.TGoods" resultType="java.util.Map">
  	select * from t_goods where 1=1
  	<if test="gname != null and gname != '' ">
  		and gName like #{gname}
  	</if>
  	order by t_goods.goodsId desc
  </select>
  
  <!-- hj 根据ID查询商品 -->
  <select id="selectGoodsById" parameterType="java.lang.Integer" resultType="java.util.Map">
  	select * from t_goods
	where t_goods.goodsId = #{gId}
 	order by t_goods.goodsId desc
  </select>
  
  <!-- hj 根据状态统计-->
  <select id="selectStatusCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(1) from t_goods where t_goods.`status` = #{status}
  </select>
  
</mapper>