<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yundongjia.oa.admin.mapper.TLeagueOrderMapper" >
  <resultMap id="BaseResultMap" type="com.yundongjia.oa.admin.po.TLeagueOrder" >
    <id column="orderId" property="orderid" jdbcType="INTEGER" />
    <result column="studioId" property="studioid" jdbcType="INTEGER" />
    <result column="memberId" property="memberid" jdbcType="INTEGER" />
    <result column="leagueId" property="leagueid" jdbcType="INTEGER" />
    <result column="totalMoney" property="totalmoney" jdbcType="DOUBLE" />
    <result column="createDate" property="createdate" jdbcType="VARCHAR" />
    <result column="orderNum" property="ordernum" jdbcType="VARCHAR" />
    <result column="payStatus" property="paystatus" jdbcType="VARCHAR" />
    <result column="classStatus" property="classstatus" jdbcType="VARCHAR" />
    <result column="comm" property="comm" jdbcType="VARCHAR" />
    <result column="messageStatus" property="messagestatus" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="mobilePhoneNum" property="mobilephonenum" jdbcType="VARCHAR" />
    <result column="payType" property="paytype" jdbcType="VARCHAR" />
    <result column="scoreId" property="scoreid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderId, studioId, memberId, leagueId, totalMoney, createDate, orderNum, payStatus, 
    classStatus, comm, messageStatus, source, mobilePhoneNum, payType, scoreId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yundongjia.oa.admin.po.TLeagueOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_league_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_league_order
    where orderId = #{orderid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_league_order
    where orderId = #{orderid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yundongjia.oa.admin.po.TLeagueOrderExample" >
    delete from t_league_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yundongjia.oa.admin.po.TLeagueOrder" >
    insert into t_league_order (orderId, studioId, memberId, 
      leagueId, totalMoney, createDate, 
      orderNum, payStatus, classStatus, 
      comm, messageStatus, source, 
      mobilePhoneNum, payType, scoreId
      )
    values (#{orderid,jdbcType=INTEGER}, #{studioid,jdbcType=INTEGER}, #{memberid,jdbcType=INTEGER}, 
      #{leagueid,jdbcType=INTEGER}, #{totalmoney,jdbcType=DOUBLE}, #{createdate,jdbcType=VARCHAR}, 
      #{ordernum,jdbcType=VARCHAR}, #{paystatus,jdbcType=VARCHAR}, #{classstatus,jdbcType=VARCHAR}, 
      #{comm,jdbcType=VARCHAR}, #{messagestatus,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{mobilephonenum,jdbcType=VARCHAR}, #{paytype,jdbcType=VARCHAR}, #{scoreid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yundongjia.oa.admin.po.TLeagueOrder" >
    insert into t_league_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="studioid != null" >
        studioId,
      </if>
      <if test="memberid != null" >
        memberId,
      </if>
      <if test="leagueid != null" >
        leagueId,
      </if>
      <if test="totalmoney != null" >
        totalMoney,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="ordernum != null" >
        orderNum,
      </if>
      <if test="paystatus != null" >
        payStatus,
      </if>
      <if test="classstatus != null" >
        classStatus,
      </if>
      <if test="comm != null" >
        comm,
      </if>
      <if test="messagestatus != null" >
        messageStatus,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="mobilephonenum != null" >
        mobilePhoneNum,
      </if>
      <if test="paytype != null" >
        payType,
      </if>
      <if test="scoreid != null" >
        scoreId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="studioid != null" >
        #{studioid,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=INTEGER},
      </if>
      <if test="leagueid != null" >
        #{leagueid,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null" >
        #{totalmoney,jdbcType=DOUBLE},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null" >
        #{ordernum,jdbcType=VARCHAR},
      </if>
      <if test="paystatus != null" >
        #{paystatus,jdbcType=VARCHAR},
      </if>
      <if test="classstatus != null" >
        #{classstatus,jdbcType=VARCHAR},
      </if>
      <if test="comm != null" >
        #{comm,jdbcType=VARCHAR},
      </if>
      <if test="messagestatus != null" >
        #{messagestatus,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="mobilephonenum != null" >
        #{mobilephonenum,jdbcType=VARCHAR},
      </if>
      <if test="paytype != null" >
        #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="scoreid != null" >
        #{scoreid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yundongjia.oa.admin.po.TLeagueOrderExample" resultType="java.lang.Integer" >
    select count(*) from t_league_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_league_order
    <set >
      <if test="record.orderid != null" >
        orderId = #{record.orderid,jdbcType=INTEGER},
      </if>
      <if test="record.studioid != null" >
        studioId = #{record.studioid,jdbcType=INTEGER},
      </if>
      <if test="record.memberid != null" >
        memberId = #{record.memberid,jdbcType=INTEGER},
      </if>
      <if test="record.leagueid != null" >
        leagueId = #{record.leagueid,jdbcType=INTEGER},
      </if>
      <if test="record.totalmoney != null" >
        totalMoney = #{record.totalmoney,jdbcType=DOUBLE},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=VARCHAR},
      </if>
      <if test="record.ordernum != null" >
        orderNum = #{record.ordernum,jdbcType=VARCHAR},
      </if>
      <if test="record.paystatus != null" >
        payStatus = #{record.paystatus,jdbcType=VARCHAR},
      </if>
      <if test="record.classstatus != null" >
        classStatus = #{record.classstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.comm != null" >
        comm = #{record.comm,jdbcType=VARCHAR},
      </if>
      <if test="record.messagestatus != null" >
        messageStatus = #{record.messagestatus,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilephonenum != null" >
        mobilePhoneNum = #{record.mobilephonenum,jdbcType=VARCHAR},
      </if>
      <if test="record.paytype != null" >
        payType = #{record.paytype,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreid != null" >
        scoreId = #{record.scoreid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_league_order
    set orderId = #{record.orderid,jdbcType=INTEGER},
      studioId = #{record.studioid,jdbcType=INTEGER},
      memberId = #{record.memberid,jdbcType=INTEGER},
      leagueId = #{record.leagueid,jdbcType=INTEGER},
      totalMoney = #{record.totalmoney,jdbcType=DOUBLE},
      createDate = #{record.createdate,jdbcType=VARCHAR},
      orderNum = #{record.ordernum,jdbcType=VARCHAR},
      payStatus = #{record.paystatus,jdbcType=VARCHAR},
      classStatus = #{record.classstatus,jdbcType=VARCHAR},
      comm = #{record.comm,jdbcType=VARCHAR},
      messageStatus = #{record.messagestatus,jdbcType=VARCHAR},
      source = #{record.source,jdbcType=VARCHAR},
      mobilePhoneNum = #{record.mobilephonenum,jdbcType=VARCHAR},
      payType = #{record.paytype,jdbcType=VARCHAR},
      scoreId = #{record.scoreid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yundongjia.oa.admin.po.TLeagueOrder" >
    update t_league_order
    <set >
      <if test="studioid != null" >
        studioId = #{studioid,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        memberId = #{memberid,jdbcType=INTEGER},
      </if>
      <if test="leagueid != null" >
        leagueId = #{leagueid,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null" >
        totalMoney = #{totalmoney,jdbcType=DOUBLE},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null" >
        orderNum = #{ordernum,jdbcType=VARCHAR},
      </if>
      <if test="paystatus != null" >
        payStatus = #{paystatus,jdbcType=VARCHAR},
      </if>
      <if test="classstatus != null" >
        classStatus = #{classstatus,jdbcType=VARCHAR},
      </if>
      <if test="comm != null" >
        comm = #{comm,jdbcType=VARCHAR},
      </if>
      <if test="messagestatus != null" >
        messageStatus = #{messagestatus,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="mobilephonenum != null" >
        mobilePhoneNum = #{mobilephonenum,jdbcType=VARCHAR},
      </if>
      <if test="paytype != null" >
        payType = #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="scoreid != null" >
        scoreId = #{scoreid,jdbcType=INTEGER},
      </if>
    </set>
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yundongjia.oa.admin.po.TLeagueOrder" >
    update t_league_order
    set studioId = #{studioid,jdbcType=INTEGER},
      memberId = #{memberid,jdbcType=INTEGER},
      leagueId = #{leagueid,jdbcType=INTEGER},
      totalMoney = #{totalmoney,jdbcType=DOUBLE},
      createDate = #{createdate,jdbcType=VARCHAR},
      orderNum = #{ordernum,jdbcType=VARCHAR},
      payStatus = #{paystatus,jdbcType=VARCHAR},
      classStatus = #{classstatus,jdbcType=VARCHAR},
      comm = #{comm,jdbcType=VARCHAR},
      messageStatus = #{messagestatus,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      mobilePhoneNum = #{mobilephonenum,jdbcType=VARCHAR},
      payType = #{paytype,jdbcType=VARCHAR},
      scoreId = #{scoreid,jdbcType=INTEGER}
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
  
  <!--手写 sql  -->
  
  <select id="findLeagueOrders" parameterType="com.yundongjia.oa.admin.vo.OrderSearchVo" resultType="java.util.Map">
   select * from t_league_order
   <if test="orderMenuType == 1">
   left join t_order_discount
   on t_order_discount.orderId = t_league_order.orderId
   </if>
   where 1=1 
<if test="sourceContext !=null and sourceContext != ''">
	and comm like  CONCAT('%', #{sourceContext}, '%')
</if>
<if test="orderStatus != null and orderStatus != -1">
    and payStatus = #{orderStatus}
</if>
<if test="orderMenuType != 1">
   <if test="startTime != null and startTime !='' and endTime !=null and endTime !='' ">
    and createDate between #{startTime} and #{endTime}
   </if>
</if>
<if test="mobilePhoneNum !=null and mobilePhoneNum !='' ">
    and mobilePhoneNum like  CONCAT('%',#{mobilePhoneNum},'%') 
</if>
<if test="memberId !=null and memberId !='' ">
    and memberId = #{memberId} 
</if>
<if test="orderMenuType == 1">
  and t_order_discount.status = 3
  and (payStatus = 3 or payStatus = 4)
  <if test="startTime != null and startTime !='' and endTime !=null and endTime !='' ">
    and retreatDate between #{startTime} and #{endTime}
  </if>
</if>
	order by t_league_order.createDate desc
  </select>
  
  <!-- 查询订单使用的红包金额 lxy-->
  <select id="employSum" parameterType="java.util.Map" resultType="java.lang.Double">
  	select sum(redPackage) from t_order_discount toc join t_league_order t 
  		on toc.orderId = t.orderId
  		and #{startTime} &lt; t.createDate and t.createDate &lt; #{endTime}
  </select>
</mapper>