<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yundongjia.oa.admin.mapper.TStudioConsumeOrderRecordMapper" >
  <resultMap id="BaseResultMap" type="com.yundongjia.oa.admin.po.TStudioConsumeOrderRecord" >
    <id column="orderId" property="orderid" jdbcType="INTEGER" />
    <result column="payType" property="paytype" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="VARCHAR" />
    <result column="memberId" property="memberid" jdbcType="INTEGER" />
    <result column="studioId" property="studioid" jdbcType="INTEGER" />
    <result column="comm" property="comm" jdbcType="VARCHAR" />
    <result column="scoreId" property="scoreid" jdbcType="INTEGER" />
    <result column="totalMoney" property="totalmoney" jdbcType="DOUBLE" />
    <result column="subCount" property="subcount" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="INTEGER" />
    <result column="payStatus" property="paystatus" jdbcType="INTEGER" />
    <result column="messageStatus" property="messagestatus" jdbcType="INTEGER" />
    <result column="orderNum" property="ordernum" jdbcType="VARCHAR" />
    <result column="mobilePhoneNum" property="mobilephonenum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderId, payType, createDate, memberId, studioId, comm, scoreId, totalMoney, subCount, 
    source, payStatus, messageStatus, orderNum, mobilePhoneNum
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yundongjia.oa.admin.po.TStudioConsumeOrderRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_studio_consume_order_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_studio_consume_order_record
    where orderId = #{orderid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_studio_consume_order_record
    where orderId = #{orderid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yundongjia.oa.admin.po.TStudioConsumeOrderRecordExample" >
    delete from t_studio_consume_order_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yundongjia.oa.admin.po.TStudioConsumeOrderRecord" >
    insert into t_studio_consume_order_record (orderId, payType, createDate, 
      memberId, studioId, comm, 
      scoreId, totalMoney, subCount, 
      source, payStatus, messageStatus, 
      orderNum, mobilePhoneNum)
    values (#{orderid,jdbcType=INTEGER}, #{paytype,jdbcType=VARCHAR}, #{createdate,jdbcType=VARCHAR}, 
      #{memberid,jdbcType=INTEGER}, #{studioid,jdbcType=INTEGER}, #{comm,jdbcType=VARCHAR}, 
      #{scoreid,jdbcType=INTEGER}, #{totalmoney,jdbcType=DOUBLE}, #{subcount,jdbcType=INTEGER}, 
      #{source,jdbcType=INTEGER}, #{paystatus,jdbcType=INTEGER}, #{messagestatus,jdbcType=INTEGER}, 
      #{ordernum,jdbcType=VARCHAR}, #{mobilephonenum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yundongjia.oa.admin.po.TStudioConsumeOrderRecord" >
    insert into t_studio_consume_order_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="paytype != null" >
        payType,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="memberid != null" >
        memberId,
      </if>
      <if test="studioid != null" >
        studioId,
      </if>
      <if test="comm != null" >
        comm,
      </if>
      <if test="scoreid != null" >
        scoreId,
      </if>
      <if test="totalmoney != null" >
        totalMoney,
      </if>
      <if test="subcount != null" >
        subCount,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="paystatus != null" >
        payStatus,
      </if>
      <if test="messagestatus != null" >
        messageStatus,
      </if>
      <if test="ordernum != null" >
        orderNum,
      </if>
      <if test="mobilephonenum != null" >
        mobilePhoneNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="paytype != null" >
        #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=INTEGER},
      </if>
      <if test="studioid != null" >
        #{studioid,jdbcType=INTEGER},
      </if>
      <if test="comm != null" >
        #{comm,jdbcType=VARCHAR},
      </if>
      <if test="scoreid != null" >
        #{scoreid,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null" >
        #{totalmoney,jdbcType=DOUBLE},
      </if>
      <if test="subcount != null" >
        #{subcount,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=INTEGER},
      </if>
      <if test="paystatus != null" >
        #{paystatus,jdbcType=INTEGER},
      </if>
      <if test="messagestatus != null" >
        #{messagestatus,jdbcType=INTEGER},
      </if>
      <if test="ordernum != null" >
        #{ordernum,jdbcType=VARCHAR},
      </if>
      <if test="mobilephonenum != null" >
        #{mobilephonenum,jdbcType=VARCHAR},
      </if>
    </trim>
    
    <selectKey keyColumn="orderId" order="AFTER"
			resultType="Integer" keyProperty="orderid">
			<!-- 获取当前线程最后一次插入的数据id , LAST_INSERT_ID()是mysql的内 置函数 -->
			SELECT LAST_INSERT_ID() as lid
	</selectKey>
    
    
  </insert>
  <select id="countByExample" parameterType="com.yundongjia.oa.admin.po.TStudioConsumeOrderRecordExample" resultType="java.lang.Integer" >
    select count(*) from t_studio_consume_order_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_studio_consume_order_record
    <set >
      <if test="record.orderid != null" >
        orderId = #{record.orderid,jdbcType=INTEGER},
      </if>
      <if test="record.paytype != null" >
        payType = #{record.paytype,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=VARCHAR},
      </if>
      <if test="record.memberid != null" >
        memberId = #{record.memberid,jdbcType=INTEGER},
      </if>
      <if test="record.studioid != null" >
        studioId = #{record.studioid,jdbcType=INTEGER},
      </if>
      <if test="record.comm != null" >
        comm = #{record.comm,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreid != null" >
        scoreId = #{record.scoreid,jdbcType=INTEGER},
      </if>
      <if test="record.totalmoney != null" >
        totalMoney = #{record.totalmoney,jdbcType=DOUBLE},
      </if>
      <if test="record.subcount != null" >
        subCount = #{record.subcount,jdbcType=INTEGER},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=INTEGER},
      </if>
      <if test="record.paystatus != null" >
        payStatus = #{record.paystatus,jdbcType=INTEGER},
      </if>
      <if test="record.messagestatus != null" >
        messageStatus = #{record.messagestatus,jdbcType=INTEGER},
      </if>
      <if test="record.ordernum != null" >
        orderNum = #{record.ordernum,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilephonenum != null" >
        mobilePhoneNum = #{record.mobilephonenum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_studio_consume_order_record
    set orderId = #{record.orderid,jdbcType=INTEGER},
      payType = #{record.paytype,jdbcType=VARCHAR},
      createDate = #{record.createdate,jdbcType=VARCHAR},
      memberId = #{record.memberid,jdbcType=INTEGER},
      studioId = #{record.studioid,jdbcType=INTEGER},
      comm = #{record.comm,jdbcType=VARCHAR},
      scoreId = #{record.scoreid,jdbcType=INTEGER},
      totalMoney = #{record.totalmoney,jdbcType=DOUBLE},
      subCount = #{record.subcount,jdbcType=INTEGER},
      source = #{record.source,jdbcType=INTEGER},
      payStatus = #{record.paystatus,jdbcType=INTEGER},
      messageStatus = #{record.messagestatus,jdbcType=INTEGER},
      orderNum = #{record.ordernum,jdbcType=VARCHAR},
      mobilePhoneNum = #{record.mobilephonenum,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yundongjia.oa.admin.po.TStudioConsumeOrderRecord" >
    update t_studio_consume_order_record
    <set >
      <if test="paytype != null" >
        payType = #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="memberid != null" >
        memberId = #{memberid,jdbcType=INTEGER},
      </if>
      <if test="studioid != null" >
        studioId = #{studioid,jdbcType=INTEGER},
      </if>
      <if test="comm != null" >
        comm = #{comm,jdbcType=VARCHAR},
      </if>
      <if test="scoreid != null" >
        scoreId = #{scoreid,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null" >
        totalMoney = #{totalmoney,jdbcType=DOUBLE},
      </if>
      <if test="subcount != null" >
        subCount = #{subcount,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=INTEGER},
      </if>
      <if test="paystatus != null" >
        payStatus = #{paystatus,jdbcType=INTEGER},
      </if>
      <if test="messagestatus != null" >
        messageStatus = #{messagestatus,jdbcType=INTEGER},
      </if>
      <if test="ordernum != null" >
        orderNum = #{ordernum,jdbcType=VARCHAR},
      </if>
      <if test="mobilephonenum != null" >
        mobilePhoneNum = #{mobilephonenum,jdbcType=VARCHAR},
      </if>
    </set>
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yundongjia.oa.admin.po.TStudioConsumeOrderRecord" >
    update t_studio_consume_order_record
    set payType = #{paytype,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=VARCHAR},
      memberId = #{memberid,jdbcType=INTEGER},
      studioId = #{studioid,jdbcType=INTEGER},
      comm = #{comm,jdbcType=VARCHAR},
      scoreId = #{scoreid,jdbcType=INTEGER},
      totalMoney = #{totalmoney,jdbcType=DOUBLE},
      subCount = #{subcount,jdbcType=INTEGER},
      source = #{source,jdbcType=INTEGER},
      payStatus = #{paystatus,jdbcType=INTEGER},
      messageStatus = #{messagestatus,jdbcType=INTEGER},
      orderNum = #{ordernum,jdbcType=VARCHAR},
      mobilePhoneNum = #{mobilephonenum,jdbcType=VARCHAR}
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
  
  <!-- 手写SQL -->
  
  <!-- 场馆订单 -->
  <select id="findStudioOrder" parameterType="com.yundongjia.oa.admin.vo.OrderSearchVo" resultType="java.util.Map">
 select * from t_studio_consume_order_record
 <if test="orderMenuType == 1">
     left join t_order_discount
     on t_order_discount.orderId = t_studio_consume_order_record.orderId
 </if>
 
where 1=1  


<if test="sourceContext !=null and sourceContext != ''">
	and comm like  CONCAT('%', #{sourceContext}, '%')
</if>
<if test="orderStatus != null and orderStatus != -1">
    and payStatus = #{orderStatus}
</if>

<if test="orderMenuType != 1">
   <if test="startTime != null and startTime !='' and endTime !=null and endTime !='' ">
    and createDate between #{startTime} and #{endTime}
   </if>
</if>

<if test="mobilePhoneNum !=null and mobilePhoneNum !='' ">
    and mobilePhoneNum like  CONCAT('%',#{mobilePhoneNum},'%') 
</if>
<if test="memberId !=null and memberId !='' ">
    and memberId = #{memberId} 
</if>

<if test="orderMenuType == 1">
  and t_order_discount.status = 1
  and (payStatus = 3 or payStatus = 4)
  <if test="startTime != null and startTime !='' and endTime !=null and endTime !='' ">
    and retreatDate between #{startTime} and #{endTime}
  </if>
</if>

order by t_studio_consume_order_record.createDate desc
  </select>
  
  <!-- 查询订单使用的红包金额 lxy-->
  <select id="employSum" parameterType="java.util.Map" resultType="java.lang.Double">
  	select sum(redPackage) from t_order_discount toc join t_studio_consume_order_record t 
  		on toc.orderId = t.orderId
  		and #{startTime} &lt; t.createDate and t.createDate &lt; #{endTime}
  </select>
  
  <!--hj  app 统计已支付人数 -->
  <select id="appSelectOrderCountByStudioId" parameterType="java.util.Map" resultType="java.lang.String">
   select count(1)
from t_studio_consume_order_record
where studioId = #{param.studioId} and payStatus=2
  </select>
  
  
  
  
  <!--hj 结算订单列表  -->
  <select id="findClearOrderList" parameterType="com.yundongjia.oa.admin.vo.ClearOrderSearchVo" resultType="java.util.Map">
  	 select * from t_studio_consume_order_record 
  	   inner join t_studio
  	  inner join t_order_discount
     on t_order_discount.orderId = t_studio_consume_order_record.orderId
   and t_studio.studioId = t_studio_consume_order_record.studioId
     
    where 1=1
    
    and t_studio_consume_order_record.payStatus in(5,7)
  	
   <if test="orderId !=null and orderId > 0">
   	and t_studio_consume_order_record.orderId = #{orderId}
   </if>
  	
  	<!-- <if test="ids !=null and ids.length > 0 ">
  		and t_studio_consume_order_record.studioId in
  		<foreach item="tag" collection="ids" open="("  separator=","  close=")">
  		 #{tag}
  		</foreach>
  	</if> -->
  	
  	<if test="id !=null and id > 0">
  	 and t_studio_consume_order_record.studioId = #{id}
  	</if>
  	
  	<if test="contextName !='' and contextName !=null ">
  		and t_studio.studioName like #{contextName}
  	</if>
  	
  	<if test="orderStatus != null and  orderStatus != -1 ">
  		 and t_studio_consume_order_record.payStatus = #{orderStatus}
  	</if>
  	
  	
  	<if test="startTime != '' and startTime !=null and endTime != '' and endTime !=null  ">
  	 and  t_order_discount.retreatDate between #{startTime} and #{endTime}
  	</if>
  	
  	order by t_order_discount.retreatDate asc
  </select>
  
  <!-- 根据订单状态统计订单个数 -->
  <select id="selectClearOrderCountByPayStatus" parameterType="java.util.Map" resultType="java.lang.String">
  	select count(1) from t_studio_consume_order_record 
  	
  	inner join t_order_discount
    on t_studio_consume_order_record.orderId = t_order_discount.orderId
  	
        where t_studio_consume_order_record.studioId = #{param.studioId}
		and t_studio_consume_order_record.payStatus = #{param.payStatus}
		
		<if test="param.today != null ">
		   and  DATE_FORMAT(t_order_discount.retreatDate,'%Y-%m-%d') = DATE_FORMAT(#{param.today},'%Y-%m-%d')
		</if>
		
  </select>
  <!--   -->
  <!--hj 根据memberid集合查询订单    查询已支付，已完成的订单-->
  <select id="findStudioOrderByMembers" parameterType="java.util.List" resultType="java.util.Map">
    select * from t_studio_consume_order_record as scor

   where scor.memberId in 
   <foreach collection="members" item="mId" open="(" separator="," close=")">
   #{mId}
   </foreach>
   
  and scor.subCount > -1
  and scor.payStatus  in(2,5)
  </select>
  
  <!--hj 模糊查询订单手机号码返回用户ID集合    -->
 <select id="findStudioOrderByMobilePhoneNum" parameterType="java.lang.String" resultType="java.util.Map">
    select scor.memberId from t_studio_consume_order_record as scor
where scor.mobilePhoneNum like #{mobilePhoneNum}
  </select>
  <!--hj 统计已使用次数  -->
  <select id="findStatisUsedNumber" parameterType="java.util.List" resultType="java.lang.String">
     select sum(scor.subCount) from t_studio_consume_order_record as scor

     where scor.memberId in
     <foreach collection="members" item="mId" open="(" separator="," close=")">
     #{mId}
     </foreach>
     
     and scor.subCount > 0
  </select>
  
</mapper>